<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBu3DV29sjSh7RA89hXGkMX0XcjPuKpSOo</string>
	<key>GCM_SENDER_ID</key>
	<string>557968617347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.latuni</string>
	<key>PROJECT_ID</key>
	<string>latuni-e3187</string>
	<key>STORAGE_BUCKET</key>
	<string>latuni-e3187.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557968617347:ios:06c4adee4b378bcc0890b6</string>
</dict>
</plist>